*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

#card{
  background-color: aliceblue;
  width: 40rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 1rem;
  box-shadow: rgb(181, 181, 181) 0px 0px 20px 5px;
}

#bar{
  width: 35rem;
  background-color: rgb(192, 192, 192);
  height: 2rem;
  border-radius: 5rem;
  margin-top: 1rem;
}

#grow{
  border-radius: 50px;
  width: 0%;
  background-color: #00da71;
  
  height: 100%;
}

#text{
  width: 35rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h3{
  font-size: 1.5rem;
}

button{
  width: 10rem;
  height: 3rem;
  font-size: 1.4rem;
  background-color: #00da71;
  color: #ffffff;
  border-radius: 7px;
  border-style: none;
}

button:active{
  scale: 0.95;
}